<h1>Welcome#about</h1>
<p>Find me in app/views/welcome/about.html.erb</p>
<div class="social">
  <button class='social-twitter' type="button"><%= link_to "Twitter", "https://www.twitter.com/", style: "color: white", target: :_blank%></button>
  <button class='social-facebook' type="button"><%= link_to "Facebook", "https://www.facebook.com/", style: "color: white", target: :_blank%></button>
  <button class='social-linkedin' type="button"><%= link_to "LinkedIn", "https://www.linkedin.com/", style: "color: white", target: :_blank%></button>
  <button class='social-instagram' type="button"><%= link_to "Instagram", "https://www.instagram.com/", style: "color: white", target: :_blank%></button>
  <button class='social-github' type="button"><%= link_to "Github", "https://www.github.com/", style: "color: white", target: :_blank%></button>
</social>